@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", serif;
}
/* Shared Style */
:root {
  --primary-font: "Quicksand", serif;
  --secondary-font: "Raleway", serif;
  --primary-color: #01acfd;
  --secondary-color: #fea301;
}
.btn-clr1 {
  background-color: #3cd8e8;
}
.btn-clr2 {
  background-color: #95b226;
}
.btn-clr3 {
  background-color: #5d58f0;
}
header {
  max-width: 1200px;
  margin: 0 auto;
}
button {
  font: inherit;
  border: none;
  font-size: 1.25rem;
  padding: 0.625em 3em;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  background-color: #111111;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.display-flex {
  display: flex;
}
.align-items {
  align-items: center;
}
.curriculum h2,
.story h2 {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}
/* Navigation bar style */
.nav-container {
  justify-content: space-between;
  margin: 16px auto;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.nav-container a,
.nav-container button {
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-container ul {
  gap: 32px;
}
#nav-link-1 {
  color: var(--secondary-color);
  font-weight: bold;
}
#nav-link-2 {
  color: var(--primary-color);
}
#nav-link-3 {
  color: #05d4df;
}
#nav-link-4 {
  color: var(--secondary-color);
}
.nav-container button {
  background-color: var(--secondary-color);
}
/* Banner Section */
.banner {
  justify-content: space-between;
}
.banner-container {
  max-width: 640px;
}
.banner-container .banner-title {
  font-size: 3.9rem;
  font-weight: bold;
}
.banner-title .part-one {
  color: var(--secondary-color);
}
.banner-title .part-two {
  color: var(--primary-color);
}
.banner-container p {
  font-size: 1.25rem;
  margin: 24px 0;
}

/* Curriculum Section*/
.curriculum {
  text-align: center;
  padding: 80px 0;
  background: url(../assets/bg.png);
  background-size: 95%;
  background-repeat: no-repeat;
}
.curriculum-container {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  gap: 28px;
  flex-wrap: wrap;
  margin: 80px 0;
  align-items: stretch;
}
.card {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5em 3.25em;
  gap: 32px;
  border-radius: 18px;
  box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.05);
}
.cards .part-1 {
  background: linear-gradient(#def5ff, white 40%);
  border: 1px solid #def5ff;
}
.card .card-btn-1 {
  background: none;
  color: #64c8ff;
  font-size: 1rem;
}
.cards .part-2 {
  background: linear-gradient(#fff4dc, white 40%);
  border: 1px solid #fff4dc;
}
.card .card-btn-2 {
  background: none;
  color: #f0aa00;
  font-size: 1rem;
}
.cards .part-3 {
  background: linear-gradient(#f2e8ff, white 40%);
  border: 1px solid #def5ff;
}
.card .card-btn-3 {
  background: none;
  color: #8700ff;
  font-size: 1rem;
}
.card h3 {
  color: #202020;
  font-size: 1.5rem;
  font-weight: bold;
}
.card p {
  font-size: 1rem;
  font-weight: 500;
  color: #808080;
  text-align: justify;
  text-align-last: center;
}
.curriculum i {
  size: 6rem;
  cursor: pointer;
}
/* Story Section */
.story {
  background: url(../assets/bg.png),
    linear-gradient(white, rgba(254, 161, 1, 0.329));
}
.story-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
.story-card {
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 16px;
  background-color: white;
}
.story-card img {
  border-radius: 16px 16px 0 0;
}
.story-card button {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 500;
  padding: 15px 18px;
  border-radius: 48px;
  position: relative;
  left: 38px;
  top: -25px;
  cursor: default;
}
.story-cards {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(4, 1fr);
  padding: 80px 0;
}
.story-cards h3 {
  font-size: 1rem;
  font-weight: bold;
}
.main-card h3 {
  font-size: 1.35rem;
}
.main-card p {
  font-family: var(--secondary-font);
  color: #666666;
}
.main-card {
  grid-row: span 2;
  grid-column: span 2;
}
.main-card img {
  width: 100%;
}
.text-content,
.story-card p,
.story-card h3 {
  padding: 0 38px 34px;
}
.story-container .btn {
  text-align: center;
}
/* Footer Style */
footer {
  background-color: var(--primary-color);
  color: white;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 68px 0 200px;
  justify-content: space-between;
}
.description {
  max-width: 400px;
}

.logo-part {
  gap: 10px;
}
.logo-part h2 {
  line-height: 0.9;
}
.logo-part img {
  width: 82px;
}
.description p {
  font-size: 1.25rem;
  margin-top: 35px;
}
.footer-container h2 {
  font-size: 2.6rem;
  font-weight: bold;
}
.footer-about h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.footer-about li {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.social-media h3 {
  font-size: 1.56rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.social-media .icons {
  gap: 10px;
}
