@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", serif;
}
/* Shared Style */
:root {
  --primary-font: "Quicksand", serif;
  --secondary-font: "Raleway", serif;
  --primary-color: #01acfd;
  --secondary-color: #fea301;
}
.btn-clr1 {
  background-color: #3cd8e8;
}
.btn-clr2 {
  background-color: #95b226;
}
.btn-clr3 {
  background-color: #5d58f0;
}
header {
  max-width: 1200px;
  margin: 0 auto;
}
button {
  font: inherit;
  border: none;
  font-size: 1.25rem;
  padding: 0.625em 3em;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  background-color: #111111;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}
button:not(.card button):not(.story-card button):hover {
  color: #111111;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 #11111134;
}
button:not(.card button):not(.story-card button):active {
  color: #111111b0;
  background-color: #2020203f;
  box-shadow: 0 0 20px 0 #11111134;
  transform: scale(0.9);
}
h1,
h2,
h3,
h4 {
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.display-flex {
  display: flex;
}
.align-items {
  align-items: center;
}
.curriculum h2,
.story h2 {
  font-size: clamp(2rem, 5.5vw, 2.8rem);
  font-weight: bold;
  text-align: center;
}

marquee {
  font-family: var(--primary-font);
  font-weight: bold;
}
.off {
  color: red;
  font-weight: bolder;
}
/* Navigation bar style */
.nav-container {
  justify-content: space-between;
  margin: 16px auto;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.nav-container a,
.nav-container button {
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-container ul {
  gap: 32px;
}
.bars {
  display: none;
}
#nav-link-1 {
  color: var(--secondary-color);
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  transition: color 0.2s, background-color 0.2s;
}
#nav-link-1:hover {
  color: white;
  background-color: var(--secondary-color);
}
#nav-link-2 {
  color: var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}
#nav-link-2:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px 0 #1111110e;
}
#nav-link-3 {
  color: #05d4df;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}
#nav-link-3:hover {
  border-color: #05d4df;
  box-shadow: 0 0 10px 0 #1111110e;
}
#nav-link-4 {
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}
#nav-link-4:hover {
  border-color: var(--secondary-color);
  box-shadow: 0 0 10px 0 #1111110e;
}
.nav-container button {
  background-color: var(--secondary-color);
  transition: transform 0.2s, color 0.2s, background-color 0.2s, box-shadow 0.2s;
}
.nav-container button:hover {
  background-color: white;

  box-shadow: 0 0 20px 0 #11111134;
}
/* Banner Section */
.banner {
  justify-content: space-between;
}
.banner-container {
  max-width: 640px;
}
.banner-container .banner-title {
  font-size: clamp(2rem, 9vw, 3.9rem);
  font-weight: bold;
}
.banner-title .part-one {
  color: var(--secondary-color);
}
.banner-title .part-two {
  color: var(--primary-color);
}
.banner-container p {
  font-size: 1.25rem;
  margin: 24px 0;
}
.banner img {
  transition: transform 0.2s ease-in-out;
}
.banner img:hover {
  transform: scale(1.05);
}
/* Curriculum Section*/
.curriculum {
  text-align: center;
  padding: 80px 0;
  background: url(../assets/bg.png);
  background-size: 95%;
  background-repeat: no-repeat;
}
.curriculum-container {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  gap: 28px;
  flex-wrap: wrap;
  margin: 80px 0;
  align-items: stretch;
}
.card {
  cursor: default;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5em 3.25em;
  gap: 32px;
  border-radius: 18px;
  box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.05);
  transition: filter 0.2s ease-in-out;
}
.cards:hover > .card:not(:hover) {
  filter: blur(1px) grayscale(1) brightness(0.8);
}
.cards .part-1 {
  background: linear-gradient(#def5ff, white 40%);
  border: 1px solid #def5ff;
}
.card .card-btn-1 {
  background: none;
  color: #64c8ff;
  font-size: 1rem;
}
.cards .part-2 {
  background: linear-gradient(#fff4dc, white 40%);
  border: 1px solid #fff4dc;
}
.card .card-btn-2 {
  background: none;
  color: #f0aa00;
  font-size: 1rem;
}
.cards .part-3 {
  background: linear-gradient(#f2e8ff, white 40%);
  border: 1px solid #def5ff;
}
.card .card-btn-3 {
  background: none;
  color: #8700ff;
  font-size: 1rem;
}
.card h3 {
  color: #202020;
  font-size: 1.5rem;
  font-weight: bold;
}
.card p {
  font-size: 1rem;
  font-weight: 500;
  color: #808080;
  text-align: justify;
  text-align-last: center;
}
.curriculum i {
  size: 6rem;
  cursor: pointer;
}
.curriculum i {
  font-size: 3rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--secondary-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.curriculum i:hover {
  transform: scale(1.2) rotate(360deg);
  box-shadow: 0 0 10px 0 #1111114d;
}
.curriculum i:active {
  transform: scale(1) rotate(360deg);
  box-shadow: 0 0 10px 0 #1111114d;
}
/* Story Section */
.story {
  background: url(../assets/bg.png),
    linear-gradient(white, rgba(254, 161, 1, 0.329));
}
.story-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
.story-card {
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 16px;
  background-color: white;
  transition: transform 0.2s;
}
.story-card:hover {
  transform: scale(1.03);
}
.story-card img {
  border-radius: 16px 16px 0 0;
}
.story-card button {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 500;
  padding: 15px 18px;
  border-radius: 48px;
  position: relative;
  left: 38px;
  top: -25px;
  cursor: default;
}
.story-cards {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(4, 1fr);
  padding: 80px 0;
}
.story-cards h3 {
  font-size: 1rem;
  font-weight: bold;
}
.main-card h3 {
  font-size: 1.35rem;
}
.main-card p {
  font-family: var(--secondary-font);
  color: #666666;
}
.main-card {
  grid-row: span 2;
  grid-column: span 2;
}
.main-card img {
  width: 100%;
}
.text-content,
.story-card p,
.story-card h3 {
  padding: 0 38px 34px;
}
.story-container .btn {
  text-align: center;
}
/* Footer Style */
footer {
  background-color: var(--primary-color);
  color: white;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 68px 0 200px;
  justify-content: space-between;
}
.description {
  max-width: 400px;
}

.logo-part {
  gap: 10px;
}
.logo-part h2 {
  line-height: 0.9;
}
.logo-part img {
  width: 82px;
}
.description p {
  font-size: 1.25rem;
  margin-top: 35px;
}
.footer-container h2 {
  font-size: 2.6rem;
  font-weight: bold;
}
.footer-about h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.footer-about li {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.social-media h3 {
  font-size: 1.56rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.social-media .icons {
  gap: 10px;
  transition: transform 0.2s;
}
.social-media i:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

/* Media Query */
@media screen and (max-width: 576px) {
  .nav-container .title,
  .nav-container ul,
  .nav-container button,
  .curriculum i,
  .main-card,
  marquee {
    display: none;
  }
  .curriculum-container,
  .story-container,
  .banner {
    width: 90%;
    margin: 0 auto;
  }
  .banner img {
    width: 100%;
  }
  .nav-container {
    margin: 0;
    padding: 10px;
    border: 0.5px solid var(--secondary-color);
  }
  .bars {
    display: block;
  }
  .bars:hover {
    transform: rotate(90deg);
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-container {
    text-align: center;
  }
  .curriculum .cards {
    flex-direction: column;
  }

  .story-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .story-card h3 {
    font-size: 0.5rem;
    padding: 0 22px 17px;
  }
  .story-card button {
    padding: 5px 10px;
    font-size: 0.5rem;
    top: -12px;
    left: 20px;
  }
  .story-card img {
    width: 100%;
  }
  .footer-container {
    gap: 32px;
    flex-direction: column;
    padding: 60px 0;
    margin-left: 20px;
  }
}

@media screen and (min-width: 576.1px) and (max-width: 992px) {
  .nav-container button {
    display: none;
  }
  .curriculum-container,
  .story-container,
  .banner {
    width: 90%;
    margin: 0 auto;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .banner-title {
    font-size: 1rem;
  }
  .curriculum-container .card {
    flex: 1 1 300px;
  }
  .story-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .story-card img {
    width: 100%;
  }
  .story-cards .main-card {
    grid-column: span 2;
  }
  .footer-container {
    margin: 0 20px;
  }
}
